.landing-container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.landing-page-choice{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    background-color: white;
    min-height: 40em;
}
.choice-create{
    flex: 0 0 50%;
    background-color: #ffe58f;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.choice-predesigned{
    flex: 0 0 49.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe58f;
    color: rgb(0, 0, 0);
    border-right: rgb(0, 0, 0) solid 1px;
    font-size: 2em;
}
.choice-create:hover, .choice-predesigned:hover{
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    background-color: black;
    color: white;
}